[Desktop Entry]
Comment=Set up steaming services
Exec=konsole -e "/bin/bash --login -c 'curl -L https://github.com/SteamFork/SetupStreamingServices/raw/main/install.sh | bash'"
GenericName=Setup Streaming
Icon=/usr/share/icons/steamfork/steamfork-streaming.png
MimeType=
Name=Setup Streaming
Name=Setup Streaming
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
