[Desktop Entry]
Comment=Common configuration helpers.
Exec=konsole -e "/bin/bash --login -c 'curl -L https://github.com/SteamFork/SteamForkTools/raw/main/install.sh | bash'"
GenericName=Setup Helpers
Icon=/usr/share/icons/steamfork/steamfork-tools.png
MimeType=
Name=Setup Helpers
Name=Setup Helpers
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
