_work/
release/
rootfs/installer/packages.x86_64
rootfs/installer/pacman.conf
rootfs/installer/airootfs/etc/pacman.d/steamfork-mirrorlist
rootfs/installer/airootfs/etc/pacman.conf
rootfs/installer/airootfs/etc/install.image/
**/*.xz
**/*.gz
