[Unit]
Description=SteamFork swap space enabler.
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/steamfork-enable-swap
Restart=no

[Install]
WantedBy=multi-user.target
