[Desktop Entry]
Comment[en_US]=
Comment=
Exec=steamfork-installer-gui
GenericName[en_US]=
GenericName=
Icon=run-install
MimeType=
Name[en_US]=Install SteamFork
Name=Install SteamFork
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
