[Unit]
Description=A simple helper to route audio to hdmi or usb.
Requires=pipewire-pulse.socket
After=wireplumber.service
ConditionUser=!root

[Service]
ExecStart=/usr/bin/steamfork-audio-watchdog
ExecStartPost=/usr/bin/sudo /usr/bin/udevadm trigger
Restart=always

[Install]
WantedBy=default.target
