[Unit]
Description=SteamFork post update service
Requires=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/steamfork-postupdate-mgmt

# Fail if we cannot update within 160 seconds.
TimeoutStartSec=160
TimeoutStopSec=10
Restart=no

[Install]
WantedBy=multi-user.target
