[Desktop Entry]
Encoding=UTF-8
Name=SteamOS (gamescope)
Comment=SteamOS Big Picture session
Exec=start-gamescope-session
Icon=steamicon.png
Type=Application
DesktopNames=gamescope
