[Unit]
Description=Steam Notification Daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/steam_notif_daemon
Restart=no
EnvironmentFile=%t/gamescope-environment
Slice=session.slice
TimeoutStopSec=5
