<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>SteamFork</vendor>
  <vendor_url>https://github.com/SteamFork/steamfork</vendor_url>

  <action id="org.steamfork.policy.desktop">
    <description>Allow firstboot configuration to do it's thing</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/steamfork-firstboot-config</annotate>
  </action>

  <action id="org.steamfork.policy.grub">
    <description>Allow GRUB updater to run</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/steamfork-grub-update</annotate>
  </action>

  <action id="org.steamfork.policy.oobe">
    <description>Allow creating OOBE directories</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/steamfork-create-overlays</annotate>
  </action>
  <action id="org.steamfork.policy.dnsss">
    <description>Allow controlling read-only instances</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/steamos-readonly</annotate>
  </action>
</policyconfig>
  <action id="org.steamfork.policy.dnas">
    <description>Allow controlling read-only instances</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/steamos-update</annotate>
  </action>
</policyconfig>
  <action id="org.steamfork.policy.adns">
    <description>Allow controlling read-only instances</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/steamos-update-os</annotate>
  </action>
</policyconfig>

